body{
  width:95%;
  margin:0 auto;
}

#nav {
  list-style-type:none;
  /*float:left;*/
  margin:0 auto;
  padding:0;
  width:100%;
  text-align:left;
}

#nav li{
display:block;
color:#54585C;
background-color:#F1B82D;
text-align:center;
text-decoration:none;
padding:4px;
font-family:"Arimo", Helvetica, Arial, sans-serif;
}

#nav a:link, a:visited{
  display:block;
  color:#54585C;
  background-color:#F1B82D;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:"Arimo", Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color:#F7D98D;
}

/*#submenu ul{
  width:100%;
}*/

#submenu li{
  width:95%;
  font-size:.8em;
}

p{
  color:black;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-size:1rem;
  line-height:1.5rem;
}


h1{
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  color:#02133B;
  /*font-size:?? idk what the font size should be*/
  font-weight:bold 400;
  text-align:center;
}

h2{
  font-family:"Arimo", Helvetica, Arial, sans-serif;
  color:#02133B;
  font-weight:400;
  text-align:center;
}

h3{
  font-family:"Arimo", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.footer h3 a:link, .footer h3 a:visited{
  color: #ffffff;
  text-decoration: underline;
}

.footer{
  background-color: #02133B;
}
/*site heading and logo style*/
.logo{
  align:center;
  border-style:none;
}

.siteheading h1{
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  color:#02133B;
  /*font-size:?? idk what the font size should be*/
  font-weight:bold 400;
  text-align:left;
}

#homepageimage{
  background-image:url("images/ktaheader.jpg");
  height:300px;
  width:100%;
  margin:auto;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  color:white;
}
#homepagetext h1{
  position:absolute;
  color:white;
  text-align:center;
  left:50%;
  transform:translate(-50%, 50%);
}

/*find page style*/
.section-heading{
  font-family:"Arimo", Helvetica, Arial, sans-serif;
  font-size:30px;
  text-align: center;
}

.search-chapter-by-letter{
  text-align: center;
  font-style: normal;
  font-size:20px;
  text-decoration: none;
}

.search-chapter-by-letter a:link, .search-chapter-by-letter a:visited{
  text-decoration:none;
  color: black;
}

.search-chapter-by-letter a:hover, .search-chapter-by-letter a:active{
  text-decoration: underline;
}

#school-list a:link, #school-list a:visited{
  color: black;
}

#school-list{
  font-family:"Crimson Text", Georgia, "Times New Roman", serif;
}

.letters{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

/*Reqs page style*/
#reqstitle h1{
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  color:black;
  font-size:1.5rem;
  text-align: left;
}

#reqstitle p{
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color:black;
  font-size:1.2rem;
  text-align: left;
}


#reqsbody details{
  color:black;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-size:1rem;
  text-align:left;
}


#quicklinks h1{
  color:black;
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  font-size:1.5rem;
  text-align:left;
}

#quicklinks p{
  color:black;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-size:1rem;
  text-align:left;
}


#helpfullinks li{
  text-align:left;
  font-size:1rem;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color:black;
}

/*newsletter page style*/
#newstitle h1{
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  color:black;
  font-size:1.5rem;
  text-align: left;
}
#newsbody p{
  color:black;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-size: 1rem;
  text-align: center;
}

#newsbody a:link, #newsbody a:visited{
  color: black
}

/*advisors style starts here*/

#constitution a:link,  #constitution a:visited{
  color:black;
  text-decoration: none;
}

#constitution a:hover{
  text-decoration: underline;
}
/*flexbox starts here*/

#nav {
  display:none;
  border-style: none;
}

/*hamburger menu stuff starts here*/

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
    color:#F1B82D;
    border-style:none;
}

/*media queries start here*/
@media screen and (min-width:400px){
  #nav{
    display:flex;
    flex-direction: column;
  }

  #nav ul li, #submenu li{

  }



@media screen and (min-width: 700px){

    /*#nav /*ul li, #submenu li*/{/*how to make the "membership" clickable drop down???
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }*/

  #nav{
        border-top: none;
    }
    /*#nav{
      display:grid;
      grid-template-columns:200px 1fr 1fr;
      grid-gap:20px;
      grid-template-areas:
      "a b b"
      "c c e"
      ". d d"

}
    .logo{
      grid-area:a;
    }

    .siteheading{
      grid-area:b;
    }*/

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
