#nav ul{
  list-style-type:none;
  float:left;
  margin:0;
  padding:0;
  width:25%;
  list-style-type:none;
  text-align:left;
}

p{
  color:black;
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-size:1rem;
  line-height:1.5rem;
}

h1{
  font-family:"Playfair Display", Georgia, "Times New Roman", serif;
  color:#02133B;
  /*font-size:?? idk what the font size should be*/
  font-weight:bold 400;
}

h2{
  font-family:"Arimo", Helvetica, Arial, sans-serif;
  color:#02133B;
  font-weight:400;
  text-align:center;
}

#nav a:link, a:visited{
  display:block;
  color:#54585C;
  background-color:#F1B82D;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:"Arimo", Helvetica, Arial, sans-serif;

}

#nav a:hover, #nav a:active{
  background-color:#011482;
}

#footer{
  background-color:#02133B;
  color:#54585C;
}
